body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.feedback-form {
  display: flex;
}

.left-block {
  flex: 1;
  padding: 20px;
}

.right-block {
  flex: 1;
  padding: 20px;
}

.smiley-rating {
  display: flex;
  justify-content: start;
  gap: 15px;
  align-items: center;
}

.smiley {
  font-size: 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.smiley.selected {
  color: gold;
}

.feedback-form input[type="text"] {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  box-sizing: border-box;
}

.blue-icon {
  color: #106ea4;
}
